<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Multitienda</title>
	<link rel="icon" href="/multitienda/view/img/icono.jpg">

	<!--=====================================
	VÍNCULOS CSS
	======================================-->
	
	<!-- Hoja de estilo personalizada -->
    <link rel="stylesheet" href="/multitienda/View/css/bootstrap1.min.css">
    <link rel="stylesheet" href="/multitienda/View/css/style1.css">
</head>
<body>
    

    <!--=====================================
    AGRADECIMIENTO
    ======================================-->
    
    <div class="container-fluid-4">
        <div class="row">
            <div class="col-lg-9">
                <section id="bg-color" class="section-padding" >
                      <div class="container-fluid-datos">
                          <p>
                              <h4><b>Gracias por Registrarse</b>
                                <div class="section-line">
                                    <hr class="botm-line">
                                  </div>
                              </h4>                        
                          </p>             
                      </div>
                  </section>
                  <section id="bg-color" class="section-padding" >
                      <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="col-md-12 col-sm-12 col-lg-12" style="padding-left:0px;">
                          <div class="alert alert-success" role="alert">
                            <strong>Excelente!</strong> Su registro se ha realizado con Exito.
                          </div>
                          <div class="col-12 text-center">
                            <a href="/multitienda/" class="btn btn-banner"><b>Regresar a Inicio</b></a>
                          </div>
                          
                        </div>
                      </div>
                  </section>
            </div>
            <div class="col-lg-3">
              <br>
              <img src="/multitienda/view/img/tienda15.jpg" class="img-responsive content ">
            </div>
        </div>
        </div>
        

</body>
</html>